}

}

}

}

    }

}

}

    }

}

    }

}

        text-decoration: none;
    }

            text-decoration: underline;
        }

/* === Mensajes emergentes === */
.alert {
    border-radius: 6px;
    font-weight: 500;
}

.alert-success {
    background-color: #28a745;
    color: #fff;
}

.alert-danger {
    background-color: #dc3545;
    color: #fff;
}

.alert-warning {
    background-color: #ffc107;
    color: #222;
}

.alert-info {
    background-color: #17a2b8;
    color: #fff;
}
